.chat-container {
  height: auto;
  display: flex;
  max-height: 100%;
  flex-direction: row;
  /* grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr; */
  align-items: stretch;
  align-content: stretch;
  top: 0;
  position: relative;
  flex-grow: 1;
  min-height: 0;
  /* justify-content: space-between; */
}

.chat-container div {
  min-height: 0;
  min-height: 0;
}

#message-groups {
  padding: 1em;
  flex-grow: 0;
}

#message-form {
  width: 100%;
  /* position: relative; */
  bottom: 0;
  padding: 1em;
  min-height: 0;
  left: 0;
  /* align-self: flex-end; */
}
.message-list {
  overflow: scroll;
}
.message-container {
  min-height: 0;
  padding: 1em;
  flex-grow: 2;
  overflow: scroll;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  /* margin: 1em; */
  /* display: grid; */
  /* flex-direction: column; */

  height: auto;
  /* align-items: stretch; */
  /* align-content: stretch; */
}

.message-list-container {
  flex-grow: 1;
  align-self: stretch;
  /* flex: 1 1 auto; */
  /* min-height: 10em; */
  height: 100cqh;
  max-height: 100cqh;
  overflow-y: scroll;
  /* flex-grow: 1; */
}

.message-list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: auto;
}

ul.message-list {
  list-style-type: none;
  width: 100%;
  /* margin-bottom: 80px; */
  overflow: hidden; /* Hide horizontal scrollbar */
  /* overflow-y: scroll; */
}

.message {
  border-radius: 0.5em;
  background: gray;
  padding: 0.5em 1em;
  min-width: 5em;

  margin-bottom: 1em;
  background: var(--color-bg-message);
  /* max-width: 90%; */
  appearance: none;
  align-self: flex-start;
}

.message.my-message {
  align-self: flex-end;
  background: var(--color-bg-my-message);
}

.message::marker {
}

.room-item {
  appearance: none;
  width: 100%;
  padding: 1em;
}
