input[type=color]{
  padding: 0;
  width: 2em;
  height: 2em;
}

#draw-component {
  // display: block;
  position: relative;
  //  padding: 1em;
  // margin: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  

}

.draw-container {
  // padding: 1em;
  display: block;
  position: relative;
 height: 100%;
 width: 100%;
 // border: 1px solid gray;
}

#draw-inputs {
position: absolute;
top: 1em;
left: 1em;
z-index: 2;
}

canvas#whiteboard {
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: white;
  height: 500px;
  width: 500px;
  border: 1px solid gray;
  position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
}
